
:root{
    --primary-text-color: #212121;
    --title-text-color:#757575;
    --accent-color:#2196F3;
    --primery-white-color:#fff;
    --secondary-bd-color: #F5F4FA;
    --footer-color: #2F303A;

}

.page{
    letter-spacing: 0.03em;
    font-size: 14px;
    line-height: 1.71;
    color: var(--primery-white-color);
    color: var(--primary-text-color);
    color: var(--title-text-color);
    font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3{
    margin: 0;
}

.list{
    list-style: none;
    padding: 0;
    margin: 0;
}
.container{
    margin-left: auto;
    margin-right: auto;
    width: 1230px;
    padding-left: 15px;
    padding-right: 15px;
    border: 1px  
}
.main-nav{
    display: flex;
    align-items: center;
}
.page-header .container{
    display: flex;
}
.logo{

    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
    color: #000000;
}

.web{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
    color: var(--accent-color);
}

.nav-link{
    padding-top: 32px;
    padding-bottom: 32px;
    display: block;

    color: var(--primary-text-color);
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    align-items: center;
   
    
}
.nav-link:hover,
.nav-link:focus{
    color: var(--accent-color);
}
.site-nav{
    display: flex;
    list-style: none;
    margin-left: 93px;
}
.site-nav .item{
    margin-right: 40px;
}
.site-nav .item:last-child{
    margin-right: 0;
}
.list{
    display: flex;
    margin-left: auto;
}
.list .item + .item{
    margin-left: 30px;

}
.current{
    color: var(--accent-color);
}

.header-mail{
    padding-top: 32px;
    padding-bottom: 32px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: var(--title-text-color);
}
.header-mail:hover, 
.header-mail:focus{
    color: var(--accent-color);
}
.header-contact{
    padding-top: 32px;
    padding-bottom: 32px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: var(--title-text-color);
}
.header-contact:hover,
.header-contact:focus {
    color: var(--accent-color);
}
.hero{
    background-color: var(--footer-color);
    text-align: center;
    width: 1600px;
    height: 600px;
}
.hero-title{
    margin: 0 auto;
    margin-bottom: 30px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    width: 696px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--primery-white-color);
}
.button {
    font-family: inherit;
    padding: 10px 32px;
    min-width: 216px;
    height: 50px;
    border: transparent;
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    color: var(--primery-white-color);
    background-color: var(--accent-color);
    border-color: var(--accent-color);
    cursor: pointer;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    margin: 0;
    display: flex;
    letter-spacing: 0.06em; 
    margin: 0 auto;
}
.section{
    padding-top: 94px;
    padding-bottom: 94px;
}
.section-title{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: 1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
    list-style: none;
}   
.feature-list{
    list-style: none;
    display: flex;
    display: auto;
    flex-wrap: wrap;
}
.feature-list .item{
    width: 270px;
        height: 248px;
}
.feature-list .title {
    margin-top: 30px;
    margin-bottom: 10px;
    font-weight: 700;
    line-height: 1.14;
    color: var(--primary-text-color);
}
.feature-list .text{
    
}
.section-team{
    background: var(--secondary-bd-color);
}
.work-img .item{
    list-style: none;
    margin-top: 50px;
}
.title-work{
    margin-top: 0px;
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    color: var(--primary-text-color);
}
.section-team{
    padding-top: 94px;
    padding-bottom: 94px;
}
.team-title{
    margin-top: 0px;
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    
    color: var(--primary-text-color);
}
.team{
    list-style: none;
    margin-top: 50px;
}
.team .title{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 10px;
    color: var(--primary-text-color);
}
.team .text{

    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    color: var(--title-text-color);
}

footer{
    background-color: #2F303A;
    left: 0px;
}
.footer-logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
   
    text-decoration: none;
    color: var(--accent-color);
}

.footer-web {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
   
    text-decoration: none;
    color: var(--primery-white-color);
}
.footer-location{
  
    
    line-height: 1.71;
    
    font-style: normal;
    font-family: 'Roboto', sans-serif;
    color: var(--primery-white-color);
    text-decoration: none;
}
.footer-location:hover,
.footer-location:focus {
    color: var(--accent-color);
}
.footer-mail {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
   
    line-height: 1.14;
    letter-spacing: 0.02em;
    font-style: normal;
    text-decoration: none;
    color: var(--title-text-color);
}

.footer-mail:hover,
.footer-mail:focus {
    color: var(--accent-color);
}

.footer-contact {
    font-weight: 500;

    line-height: 1.14;
    letter-spacing: 0.02em;
    font-style: normal;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    color: var(--title-text-color);
}

.footer-contact:hover,
.footer-contact:focus {
    color: var(--accent-color);
}
.page-portfolio{
    letter-spacing: 0.03em;
    font-size: 14px;
    line-height: 1.71;
    color: var(--primery-white-color);
    color: var(--primary-text-color);
    font-family: 'Roboto', sans-serif;
}
.button-filter{
    padding: 6px 22px;
    min-width: 130px;
    text-align: center;
    color: var(--primary-text-color);
    background-color: var(--secondary-bd-color);
    border: transparent;
    border-radius: 4px;
    cursor: pointer;
}
.button-filter:hover,
.button-filter:focus {
    color: var(--primery-white-color);
    background-color: var(--accent-color);
}
.project-container{
    margin-left: auto;
    margin-right: auto;
    width: 1230px;
    padding-left: 15px;
    padding-right: 15px;
    justify-content: space-between;
}
.project{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
.project-element{
    width: 370px;
    height: 404px;
    margin-right: 30px;
    margin-bottom: 30px;
    flex-basis: calc((100% - 60px)/ 3);
}

.project-link{
    text-decoration: none;
}
.project-title{
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    
    color: var(--primary-text-color);
}
.project-text{
    
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    
    color: var(--title-text-color);

}

